{%- assign collection_image = block.settings.image | default: collection.image | default: collection.products.first.featured_image -%}

<a href="{{ block.settings.button_link | default: collection.url }}" {{ block.shopify_attributes }} class="CollectionItem {% if section.settings.expand_collection %}CollectionItem--expand{% endif %} {% if template == 'index' %}Carousel__Cell {% if forloop.first %}is-selected{% endif %}{% endif %}" data-slide-index="{{ forloop.index0 }}">
  {%- capture mobile_size -%}750x{% if collection_image.height >= 960 %}960{% else %}{{ collection_image.height }}{% endif %}{%- endcapture -%}
  {%- assign image_crop = block.settings.image_alignment | split: ' ' | last -%}

  <div id="relydev-school-list-collection-item">
    <div class="School-logo-image-wrapper">
      <div class="school-logo-image Image--lazyLoad Image--zoomOut hide-no-js" data-optimumx="1.4"
        data-expand="-150" style="background-image: url({{ collection_image | img_url: 'master' }})"></div>
    </div>
    <div class="School-content-wrapper">
      <header class="SectionHeader">
        <h3 class="SectionHeader__Heading Heading u-h1">{{ collection.title | remove: ' Fan Store' | remove: ' Fan Gear Store' | escape }}</h3>
      </header>
    </div>
  </div>

  <div class='relydev-school-overlay'></div>

</a>