<section id="section-{{ section.id }}" class="stores-list-section">

  <div class="relydev-school-list-container">

    {% comment %} Capture the different possible school states and sort them in an array {% endcomment %}
    {%- assign listOfStates = '' -%}
    {%- for collection in collections -%}
      {%- if collection.metafields.custom.school-state -%}
        {%- assign listOfStates = listOfStates | append: ',' | append: collection.metafields.custom.school-state.value -%}
      {%- endif -%}
    {%- endfor -%}
    {%- assign listOfStates = listOfStates | split: ',' | uniq | sort | join: ',' | prepend: 'All' -%}
    {%- assign listOfStates = listOfStates | split: ',' -%}
    
    {% comment %} Create the tab selector div if there are any tags {% endcomment %}
    <div class="slider">
      <div id="relydev-left-arrow" class="relydev-tab-arrow" style="background-image: url({{ 'left-arrow.png' | asset_url }})"></div>
      <div id="relydev-right-arrow" class="relydev-tab-arrow" style="background-image: url({{ 'right-arrow.png' | asset_url }})"></div>
      <div class="tab-selector">
        {%- for tab in listOfStates -%}
          <div id="{{ tab }}-tab" class="tab {% if tab == listOfStates.first %}tab-active{% endif %}">{{ tab }}</div>
        {%- endfor -%}
      </div>
    </div>
    
    {% comment %} Create the School list content wrapper for each tab {% endcomment %}
    <div class="relydev-tab-content">
      {%- for tab in listOfStates -%}
        <div id="{{ tab }}-contents" class="content-body {% if tab == listOfStates.first %}show-active{% endif %}">
          <div class="CollectionList CollectionList--grid">
            {%- for collection in collections -%}
              {%- if tab == listOfStates.first and collection.metafields.custom.school-state.value -%}
                {% render 'relydev-school-list-item', block: block, collection: collection %}
              {%- endif -%}
              {%- if collection.metafields.custom.school-state.value == tab -%}
                {% render 'relydev-school-list-item', block: block, collection: collection %}
              {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
    
    {% comment %} Back to top button {% endcomment %}
    <div id="relydev-back-top-top-btn">Top</div>
  </div>
  
</section>

<style>
  .relydev-school-list-container {
    padding: 50px 40px 0;
    margin-bottom: 60px;
  }
  @media only screen and (max-width: 500px) {
    .relydev-school-list-container .relydev-tab-content .content-body .CollectionList {
      margin-right: 0px;
      margin-left: 0px;
    }
    .relydev-school-list-container .relydev-tab-content .content-body .CollectionList .CollectionItem {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  @media only screen and (max-width: 600px) {
    .relydev-school-list-container {
      padding: 30px 5px 0;
    }
  @media only screen and (min-width: 601px) {
    .relydev-school-list-container {
      padding-top: 60px;
    }
  }
</style>

{% schema %}
{
  "name": "Page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_large",
      "label": "Large width",
      "default": false
    }
  ]
}
{% endschema %}